.authLayout {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	overflow: hidden;

	.authFormWrapper {
		margin-top: 282px;
		max-width: fit-content;
		width: 100%;
		background-color: inherit;
		color: #f5f5f5;
		padding: 38px 52px;
		background-color: #f4f2f3;
		border: 1px solid #94a7ae;
		border-radius: 12px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

		h1 {
			color: #64766a;
			font-weight: 600;
			text-align: center;
			font-size: 28px;
			font-weight: 400;
			margin-bottom: 28px;
		}

		input {
			color: #64766a;
			font-size: 16px;
			padding: 8px 32px;
			border: 1px solid #94a7ae;
			border-radius: 4px;
			font-family: 'Josefin Sans', sans-serif;
		}
		input::placeholder {
			color: rgba(100, 118, 106, 0.5);
			font-size: 14px;
		}
		input:focus {
			outline: none;
			border-color: #b8baff;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
	}

	.authFormContent {
		nav {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 14px;
			span {
				color: #64766a;
				cursor: default;
			}

			a {
				display: inline-block;
				color: #ffff;
				background-color: #b8baff;
				padding: 12px 24px;
				border-radius: 8px;
				text-decoration: none;
				transition: 0.2s;

				&:hover {
					background-color: #9fa3ff;
					box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
				}
				&:active {
					background-color: #b8baff;
					transform: translateY(1px);
				}
			}
		}
		.active {
			background-color: #9fa3ff;
		}
	}
}
